<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::includecss">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../static/js/addnotes.js"></script>
</head>
<head>
<title>Add Notes</title>
</head>
<body>
	<div th:replace="fragments/header::header"></div><br><br><br><br><br><br>
	<div id='notesafter' hidden="true" class="col-sm-12 alert alert-success"></div>
	<div class="col-sm-12" id="notesform">
	<form class="form-horizontal" id="notesform"> <!-- th:action="@{/addnotes}" th:object="${notes}"  -->
		<div class="form-group">
			<label class="control-label col-sm-2" for="topic">Topic:</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="topic" name="topic"
					placeholder="Enter Topic" > <!-- th:field=*{topic} -->
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="subTopic">Sub-Topic:</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="subTopic" name="subTopic"
					placeholder="Enter Sub-Topic" > <!-- th:field=*{subTopic} -->
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="heading">Heading:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="heading" name="heading"
					placeholder="Enter Heading"><!--th:field=*{heading}  -->
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="description">Description:</label>
			<div class="col-sm-10">
				<textarea class="form-control" rows="3" id="description"  name="description" placeholder="Enter Description"></textarea>
			</div><!--th:field=*{description}  -->
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="example">Example:</label>
			<div class="col-sm-10">
				<textarea class="form-control" rows="3" id="example"  name="example" placeholder="Enter Example"></textarea>
			</div><!--th:field=*{example}  -->
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="code">Code Snippet:</label>
			<div class="col-sm-10">
				<textarea class="form-control" rows="5" id="codeSnippet"  name="codeSnippet" placeholder="Enter Code Snippet"></textarea>
			</div><!--th:field=*{codeSnippet}  -->
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="comment">Comments:</label>
			<div class="col-sm-10">
				<textarea class="form-control" rows="3" id="comment" name="comment" placeholder="Enter Comments"></textarea>
			</div><!--th:field=*{comments}   -->
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default" id="savenotesbutton">Save Notes</button>
			</div>
		</div>
	</form>
	</div><br>
	
	<div th:replace="fragments/footer::footer"></div>
	<script src="js/addnotes.js"></script>
</body>
</html>