<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  </head>
  <body>
    <div class="footer navbar-fixed-bottom" th:fragment="footer">
       <div class ="container-fluid bg-4 text-center"><h4>&copy; 2018 Pradeep</h4></div>
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
	
    </div>
  </body>
</html>